.pojazd {
  background-color: #d0ebff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  height: 400px;
  float: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pojazd.selected {
  background-color: gray;
}

.pojazd p {
  margin: 5px 0;
  font-size: 14px;
}

.pojazd strong {
  color: #0b5394;
}
img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}
